.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-wrapper {
  width: 400px;
}

.card {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #111;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  color: #fff;
}

.button {
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Arial, sans-serif;
}

.button:hover {
  background-color: #ccc;
}